@font-face {
    font-family: "Poiret One";
    src: url("font/PoiretOne-Regular.ttf");
}

html, body{
    padding:0;
    margin:0;
    background-color: #e8e1e8;
    display:flex;
    justify-content: center;
    width: 100%;
}
.st3{
	fill:#333;
}
#clock{
    width:60vh;
}
.logo{
    font-family: 'Poiret One', cursive;
    font-size:52px;
    transform-origin: 500px 500px;
    transform: translate(420px, 370px);
}
.second, .minute, .hour{
    transform-origin: 500px 500px;
    transform:rotate(90deg);
    transition:all 0.1s ease;
    box-shadow: 100px 100px 50px 0px rgba(0,0,0,0.75);
}
.second{
    transition:all 0.05s cubic-bezier(0, 0, 0, 2.4);
    transform:rotate(90deg);
}